* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'LATO', sans-serif;
  color: #272a31;
  /* background-position: 0% 5%; */
  background-image: url('../images/background2.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

nav {
  font-weight: 500;
  justify-content: end;
  height: 55px;
  position: fixed;
}

a {
  color: #272a31;
}

.a-menu {
  color: #272a31;
}

.a-menu:hover {
  color: rgb(250, 116, 7);
  background-color: #fdf5e6;
}

.a-menu:active {
  color: #ec5242;
}

.nav-link:hover {
  color: rgb(250, 116, 7);
}

header {
  width: 65%;
  margin: 15% 20% 5% 16%;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  color: #ec5242;
}

p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #272a31;
}

ul {
  list-style: none;
  display: flex;
}

#program {
  box-sizing: border-box;
  background-color: #272a31;
  width: 100%;
}

#footer {
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
}

.cocogoose {
  font-family: 'COCOGOOSE', sans-serif;
}

.h2-red {
  color: #ec5242;
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: 500;
}

.icons {
  color: #fff;
  width: 50%;
}

.btn-red {
  margin: 20px 22% 40px 22%;
  padding: 12px;
  border-radius: 4px;
  background-color: #ec5242;
  color: #fff;
  font-weight: 400;
}

.speak {
  padding-top: 30px;
  padding-bottom: 20px;
  color: #272a31;
}

@media only screen and (max-width: 767px) {
  body {
    background-position: 0% 0%;
  }

  .div1 {
    margin-left: 5%;
    width: 90%;
    display: flex;
    padding: 2px;
    margin-bottom: 15px;
    background-color: #38393d;
    border-radius: 4px;
  }

  .col1 {
    padding-top: 15px;
    padding-left: 5px;
    width: 20%;
    vertical-align: middle;
  }

  .col2 {
    padding-top: 20px;
    width: 25%;
    vertical-align: middle;
  }

  .col3 {
    width: 50%;
  }

  .div1 h3 {
    font-size: 1rem;
  }

  .div1 p {
    font-size: 0.8rem;
  }

  .card-title {
    padding-right: 4px;
    color: #ec5242;
  }

  .card-text {
    padding-left: 6px;
  }

  .card-text2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .hmb-btn-img {
    padding-top: 7px;
  }

  .bar-mov {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }

  .toggle-btn {
    background-color: transparent;
  }

  .icon1,
  .icon2,
  .icon3,
  .icon4,
  .icon5 {
    width: 50%;
    height: 50%;
  }

  .para2 {
    padding-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .para3 {
    color: #272a31;
  }

  .para4 {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .row2 {
    width: 90%;
    padding-left: 8%;
    padding-right: 2%;
    padding-bottom: 5rem;
    display: flex;
    flex-flow: wrap;
  }

  .partners {
    padding: 0.4rem;
    border-radius: 8px;
    max-width: 35%%;
  }

  .ife-logo-img {
    margin: 8px 22% 20px 22%;
  }
  
  .ife1-img {
    margin: 8px 15% 20px 15%;
    border-radius: 4px;
  }
  
  .logo-tec-img {
    margin: 35px auto 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-position: 0% 0%;
  }

  ul.list-unstyled.d-flex {
    margin-top: 15px;
    margin-bottom: 0;
  }

  p {
    font-size: 1.2rem;
  }

  #partner {
    display: none;
  }

  #footer {
    background-color: black;
    padding-bottom: 30px;
  }

  .card {
    width: 20%;
  }

  .collapse {
    margin-right: 10%;
  }

  .toggle-btn {
    display: none;
  }

  .bar-mov {
    margin-left: 3%;
  }

  .card-text2 {
    width: 80%;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .row1 {
    display: flex;
  }

  .list-group {
    display: flex;
  }

  .div1 {
    width: 10%;
  }

  .partners {
    padding: 0.6rem;
  }

  .ife-logo-img {
    max-width: 40%;
    margin: 8px 28% 20px 28%;
  }

  .ife1-img {
    max-width: 50%;
    border-radius: 6px;
    margin: 8px 24% 20px 24%;
  }

  .para4 {
    font-size: 0.9rem;
    color: #fff;
  }

  .logo-tec-img {
    margin: 35px auto 0 auto;
  }
}
