* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: #272a31;
  font-family: 'Lato', sans-serif;
  background-image: url('../images/conference3.svg');
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
  background-position: 35% 0%;
}

nav {
  font-weight: 500;
  justify-content: end;
  height: 55px;
  position: fixed;
}

a {
  color: #272a31;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.photo {
  margin-top: 100px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 100%;
}

.a-menu {
  color: #272a31;
}

.a-menu:hover {
  color: rgb(250, 116, 7);
  background-color: #fdf5e6;
}

.a-menu:active {
  color: #ec5242;
}

.nav-link:hover {
  color: rgb(250, 116, 7);
}

header {
  width: 65%;
  margin: 0% 20% 5% 16%;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  color: #ec5242;
}

p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #272a31;
}

ul {
  list-style: none;
  display: flex;
}

#program {
  box-sizing: border-box;
  background-color: #272a31;
  width: 100%;
}

#footer {
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  display: flex;
}

#footer-i {
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  background-color: #fff;
  display: flex;
  margin-top: 50px;
}

.cocogoose {
  font-family: 'COCOGOOSE', sans-serif;
}

.h2-red {
  color: #ec5242;
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: 500;
}

.h2-white {
  color: #fff;
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: 500;
}

.h2-gray {
  color: #aaa9a9;
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: 500;
}

.icons {
  color: #fff;
  width: 50%;
}

.btn-red {
  margin: 20px 22% 40px 25%;
  padding: 12px;
  border-radius: 4px;
  background-color: #ec5242;
  color: #fff;
  font-weight: 400;
}

.speak {
  padding-top: 30px;
  padding-bottom: 20px;
  color: #272a31;
}

@media only screen and (max-width: 767px) {
  body {
    background-image: url('../images/conference3.svg');
    background-repeat: no-repeat;
    background-size: 820px 880px;
    background-position: top;
  }

  .logo-ife {
    display: none;
  }

  .overlay {
    display: none;
  }

  .show {
    position: fixed;
    display: block;
    background-color: rgb(39, 42, 49, 0.8);
    width: 100%;
    height: 810px;
    left: 0;
    top: 0;
    right: 0;
  }

  .overlay-ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  .overlay-li {
    padding-left: 25px;
  }

  .a-li {
    color: #fff;
    font-size: 32px;
    line-height: 56px;
    font-weight: 550;
    margin-left: 5%;
    margin-top: 28%;
    text-decoration: none;
  }

  .a-li:hover,
  .a-li:active {
    color: #ec5242;
  }

  .cancel1 {
    margin-top: 29px;
    margin-left: 25px;
  }

  .hmb-menu {
    display: block;
  }

  .menu2 {
    position: fixed;
    margin-top: 10px;
    margin-left: 4%;
    float: left;
    width: 30px;
    background-color: transparent;
  }

  .p-red {
    color: #ec5242;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 1.5em;
    font-weight: 500;
  }

  .div1 {
    margin-left: 5%;
    width: 90%;
    display: flex;
    padding: 2px;
    margin-bottom: 15px;
    background-color: #38393d;
    border-radius: 4px;
  }

  .div1:hover {
    border: solid 1px #fff;
    border-radius: 4px;
  }

  .col1 {
    padding-top: 15px;
    padding-left: 5px;
    width: 20%;
    vertical-align: middle;
  }

  .col2 {
    padding-top: 20px;
    width: 25%;
    vertical-align: middle;
  }

  .col3 {
    width: 50%;
  }

  .div1 h3 {
    font-size: 1rem;
  }

  .div1 p {
    font-size: 0.8rem;
  }

  .card-title {
    padding-right: 4px;
    color: #ec5242;
  }

  .card-text {
    padding-left: 6px;
  }

  .card-text2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .hmb-btn-img {
    padding-top: 7px;
  }

  .bar-mov {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }

  .icon1,
  .icon2,
  .icon3,
  .icon4,
  .icon5 {
    width: 50%;
    height: 50%;
  }

  .para2 {
    padding-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .para3 {
    color: #272a31;
  }

  .para4 {
    padding-top: 30px;
    padding-bottom: 10px;
    width: 80%;
    margin-left: 10px;
    margin-right: auto;
  }

  .row2 {
    width: 90%;
    padding-left: 8%;
    padding-right: 2%;
    padding-bottom: 5rem;
    display: flex;
    flex-flow: wrap;
  }

  .partners {
    padding: 0.4rem;
    border-radius: 8px;
    max-width: 35%;
  }

  .ife-logo-img {
    margin: 8px 5px 20px 5px;
  }

  .ife-logo-blue-img {
    margin: 8px 20% 20px 25%;
  }

  .ife1-img {
    margin: 8px 5% 20px 14%;
    border-radius: 4px;
  }

  .ife2-img {
    margin: 8px 4% 20px 4%;
    border-radius: 4px;
  }

  .logo-tec-img {
    margin-top: 70px;
    margin-left: 15px;
    width: 45%;
  }

  .grid1 {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
  }

  .rows {
    margin-top: 30px;
    margin-left: 15px;
    width: 90%;
    display: flex;
    flex-direction: row;
  }

  .div1-sp {
    width: 30%;
    margin-left: 10px;
    height: auto;
    padding-left: 10px;
    padding-top: 10px;
    background-image: url('../images/chess.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 0% 0%;
  }

  .div2-sp {
    width: 90%;
    height: auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .photo-sp {
    padding-top: 3px;
    padding-left: 3px;
    width: 70%;
    height: 70%px;
  }

  .name-sp {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 2px;
  }

  .position-sp {
    font-size: small;
    color: #ec5242;
    font-weight: 500;
    margin-bottom: 2px;
  }

  .descr-sp {
    font-size: small;
    margin-bottom: 2px;
  }

  .hide {
    display: none;
  }

  .show-rows {
    display:flex;
  }

  .less {
    display: none;
  }

  .see-more {
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    padding: 8px;
    border-radius: 8px;
    border: solid 1px #38393d;
    text-align: center;
  }

  .see-more:hover {
    border: solid 1px #ec5242;
    color: #ec5242;
    font-weight: bold;
  }

  .see-less {
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    padding: 8px;
    border-radius: 8px;
    border: solid 1px #38393d;
    text-align: center;
  }

  .see-less:hover {
    border: solid 1px #ec5242;
    color: #ec5242;
    font-weight: bold;
  }

  .sp {
    padding-left: 43%;
  }

  #partner-i {
    display: none;
  }

  #footer-i {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  ul.list-unstyled.d-flex {
    margin-top: 15px;
    margin-bottom: 0;
  }

  p {
    font-size: 1.2rem;
  }

  #partner {
    display: none;
  }

  #partner-i {
    display: block;
  }

  #footer {
    background-color: black;
    padding-bottom: 30px;
  }

  .overlay {
    display: none;
  }

  .collapse {
    margin-right: 10%;
  }

  .hmb-menu {
    display: none;
  }

  .menu {
    display: none;
  }

  .menu2 {
    display: none;
  }

  .bar-mov {
    margin-left: 5%;
  }

  .row1 {
    display: flex;
  }

  .row2 {
    width: 70%;
    margin-left: 20%;
    display: flex;
    padding-bottom: 25px;
  }

  .p-red {
    color: #ec5242;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 2em;
    font-weight: 500;
  }

  .icon1,
  .icon2,
  .icon3,
  .icon4,
  .icon5 {
    width: 50%;
    height: auto;
  }

  .card-title {
    font-size: 0.5rem;
    color: #ec5242;
  }

  .card-text {
    font-size: small;
    font-weight: 200;
  }

  .card-text2 {
    width: 80%;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .list-group {
    margin-left: 5%;
    margin-right: 5%;
    gap: 2%;
  }

  .div1 {
    width: 18%;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #38393d;
    border-radius: 4px;
  }

  .div1:hover {
    border: solid 1px #fff;
    border-radius: 4px;
  }

  .btn-red {
    margin: 20px 32% 40px 41%;
  }

  .partners {
    padding: 0.6rem;
  }

  .grid1 {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
  }

  .rows {
    margin-top: 30px;
    width: 50%;
    display: flex;
    flex-direction: row;
  }

  .see-more {
    display: none;
  }

  .see-less {
    display: none;
  }

  .div1-sp {
    width: 30%;
    height: auto;
    padding-left: 10px;
    padding-top: 10px;
    background-image: url('../images/chess.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 0% 0%;
  }

  .div2-sp {
    width: 90%;
    height: auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .photo-sp {
    padding-top: 3px;
    padding-left: 3px;
    width: 70%;
    height: 70%px;
  }

  .name-sp {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 2px;
  }

  .position-sp {
    font-size: small;
    color: #ec5242;
    font-weight: 500;
    margin-bottom: 2px;
  }

  .descr-sp {
    font-size: small;
    margin-bottom: 2px;
  }

  .ife-logo-img {
    max-width: 40%;
    margin: 8px 28% 20px 28%;
  }

  .ife-logo-blue-img {
    margin: 8px 20% 20px 25%;
  }

  .ife1-img {
    max-width: 60%;
    border-radius: 6px;
    margin: 8px 24% 20px 20%;
  }

  .para4 {
    margin-top: 35px;
    font-size: 0.9rem;
    color: #fff;
    width: 60%;
    text-align: left;
  }

  .logo-tec-img {
    margin-left: 20%;
    margin-top: 35px;
  }

  .col1 {
    padding-left: 30px;
    padding-top: 8px;
    width: 80%;
  }

  .col2 {
    width: 90%;
    padding-left: 25px;
    padding-top: 10px;
  }

  .col3 {
    width: 70%;
    padding-left: 20px;
    padding-bottom: 8px;
  }

  .div1 h3 {
    font-size: 1rem;
  }
}
